<main>
  <div class="home-page">
    <div class="discussions">
      <div class="purple-image">
        <h2 class="title-content">Discussions</h2>
        <a href="#">CATCH UP NOW.</a>
      </div>
    </div>
    <div class="container">
      <div class="media">
        <div class="column">
          <div class="movie">
            <img class="image-fluid" src="../../assets/moive1.jpg" alt="">
            <div class="info-movie">
              <div class="movie-image">
                <img class="image-fluid" src="../../assets/submovie1.jpg" alt="">
              </div>
              <div class="content-info">
                <h3 class="title-movie">Arrow</h3>
                <p class="comment">New episode airs today</p>
              </div>
            </div>
          </div>
          <div class="column">
            <img class="image-fluid" src="../../assets/movie5.jpg" alt="">
            <div class="info-movie">
              <h3 class="title-movie">The Flash</h3>
              <p class="comment">New episode airs today</p>
            </div>
          </div>
          <div class="column">
            <img class="image-fluid" src="../../assets/movie6.jpg" alt="">
            <div class="info-movie">
              <h3 class="title-movie">Fairy Tail</h3>
              <p class="comment">New episode airs today</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column">
            <img class="image-fluid" src="../../assets/movie3.jpg" alt="">
            <div class="info-movie">
              <h3 class="title-movie">Aquaman</h3>
              <p class="comment">Amber Heard, Jason Momoa</p>
            </div>
          </div>
          <div class="column">
            <img class="image-fluid" src="../../assets/movie4.jpg" alt="">
            <div class="info-movie">
              <h3 class="title-movie">The Mule</h3>
              <p class="comment">Clint Eastwood, Bradley Cooper</p>
            </div>
          </div>
          <div class="movie">
            <img class="image-fluid" src="../../assets/movie2.jpg" alt="">
            <div class="info-movie">
              <div class="movie-image">
                <img class="image-fluid" src="../../assets/submovie2.jpg" alt="">
              </div>
              <div class="content-info">
                <h3 class="title-movie">Bumblebee</h3>
                <p class="comment">John Cena, Hailee Steinfeld, Jorge Lendeborg Jr.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-list">
        <h3>Feature list</h3>
        <div class="row">
          <div class="col-3 col-sm">
            <div class="feature-card">
              <div class="feature-image">
                <img class="image-fluid" src="../../assets/Post1.jpg" alt="">
              </div>
              <div class="feature-info">
                <p>Greatest Twist Ending</p>
                <p>The Prestige, Shutter Island, Black Swan, 24 more...</p>
              </div>
            </div>
          </div>
          <div class="col-3 col-sm">
            <div class="feature-card">
              <div class="feature-image">
                <img class="image-fluid" src="../../assets/Post2.jpg" alt="">
              </div>
              <div class="feature-info">
                <p>Greatest Twist Ending</p>
                <p>The Prestige, Shutter Island, Black Swan, 24 more...</p>
              </div>
            </div>
          </div>
          <div class="col-3 col-sm">
            <div class="feature-card">
              <div class="feature-image">
                <img class="image-fluid" src="../../assets/Post3.jpg" alt="">
              </div>
              <div class="feature-info">
                <p>Greatest Twist Ending</p>
                <p>The Prestige, Shutter Island, Black Swan, 24 more...</p>
              </div>
            </div>
          </div>
          <div class="col-3 col-sm">
            <div class="top-user">
              <h3>Top Users</h3>
              <ul class="lst-none">
                <li class="user-item"><a href="#">Samara</a> (7739)</li>
                <li class="user-item"><a href="#">Lopek</a> (6663)</li>
                <li class="user-item"><a href="#">szwagierluki</a> (4854)</li>
                <li class="user-item"><a href="#">Banana</a> (4319)</li>
                <li class="user-item"><a href="#">Rebafan23</a> (3430)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
