<div class="nav-media">
  <div class="container">
    <nav class="shortcut-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="">Discussions <i class="fas fa-sort-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Changes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"href="">Share</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
