.search-nav {
  display: flex;
}

.search-box {
  height: 48px;
  border-bottom: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  background: #ffffff;
  position: relative;
}

.btn_search {
  margin-right: 20px;
  margin-top: 15px;
  color: #acacac;
  cursor: pointer;
}

.search-input {
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
}

.search-result {
  border-bottom: 1px solid #DEDEDE;
  padding: 6px 0;
}

.result-item {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 14px
}

.search-result:hover {
  background: #D7D7D7;
  transition: all 0.2s;
}
.ac{
  background: #d7d7d7;
  width: 100%;
  height: 100%;
}

.autocomplete-search {
  background: #ffffff;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 47px;
}
.overlay{
  background-color: transparent;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
}

