<div class="search-box" (keyup.enter)="navigate()">
  <div class="container">
    <div class="search-nav">
      <div class="btn_search">
        <i class="fas fa-search"></i>
      </div>
      <input [(ngModel)]="keyword" id="box" #box="ngModel" (ngModelChange)="update(box.value)"
             placeholder="search for a movie ,tv show,person..."
             class="search-input" autocomplete="off" (keydown)="UpToDown($event)">
    </div>
  </div>
  <div id="test" [hidden]="bool" class="autocomplete-search">
    <div class="search-result" *ngFor="let result of searchs?.results; let i=index"
         [ngClass]="{ 'ac': currentIndex == i}">
      <a (click)="hide()" class="result-item" (keyup.enter)="hide()" routerLink="/movie/detail/{{result.id}}"
         #searchItem>
        <div class="container">
          <span>
            <i class="fas fa-search"></i>
          </span>
          <span>
            {{result.title }}
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="overlay" id="overlay" (click)="hideSuggest()"></div>
