* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
.search-content>router-outlet ~ *{
  position: relative;
}
.d-none {
  display: none;
}

ul {
  list-style-type: none;
}

.offset-whitespace {
  height: 100px;
}

.pd-1 {
  padding: 0 10px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.image-fluid {
  width: 100%;
  height: auto;
}

.image-radius {
  border-radius: 8px
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;

}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

/*pagination*/
.pagination {
  text-align: center;
}

.pagination:after {
  clear: both;
  content: '.';
  height: 0;
  visibility: hidden;
  display: block;
}

.page-item {
  float: left;
  padding: 2px 8px;
}

.page-link {
  text-decoration: none;
  color: #4d4d4d;
}

.active {
  border: 1px solid #081c24;
  padding: 2px 8px;
}

.paginate-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0
}

.nav-item {
  float: left;
  list-style-type: none;
}

.nav::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/*movie*/
.movie-page{
  margin-top: 100px;
}
.clear-both {
  clear: both;
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
}



.row-content{
  height: 175vh;
}
.row-content::after {
  clear: both;
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
}

.white-col {
  width: 60%;
  float: left;
  background: #ffffff;
  padding-top: 30px
}

.white-width::after {
  clear: both;
  display: block;
  height: 0;
  content: ".";
  visibility: hidden;
}

.grey-col {
  display: inline-block;
  width: 40%;
  background: #F1F1F1;
  padding: 30px 0;
  height: inherit;
}

.white-width {
  float: right;
  width: 100%;
  max-width: 680px;
}

.grey-width {
  width: 100%;
  max-width: 300px;
}
/*grey*/
.movie-search .movie-card{
  width: 100% !important;
}
@media only screen and (max-width: 992px) {
  .col-sm {
    width: 100%;
  }

  .offset-whitespace {
    height: 37px;
  }
  .white-col {
    float: unset;
    width: 100%;
  }

  .grey-col {
    float: unset;
    width: 100%;
    padding: 0 10px 30px 10px;
  }

  .white-width {
    float: unset;
    max-width: 100%;

  }

  .grey-width {
    max-width: 100%;
  }
  .row-content{
    height: auto;
  }
}


