<main>

  <div class="search-page">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm">
          <ul class="nav-search">
            <li class="section-search">
              <a [routerLink]="['/search/movie']" [queryParams]=" {query: key}">Movie</a>
            </li>
            <li class="section-search">
              <a [routerLink]="['/search/tv']" [queryParams]=" {query: key}">TV Show</a>
            </li>
            <li class="section-search">
              <a [routerLink]="['/search/people']" [queryParams]=" {query: key}">People</a>
            </li>
          </ul>
        </div>
        <div class="col-9 col-sm search-content">
          <main style="position: relative" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
            <router-outlet #o="outlet"></router-outlet>
          </main>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>




