<footer>
  <div class="container content-ft">
    <div class="row">
      <div class="col-3 col-sm">
        <div class="user-footer">
          <div class="logo-footer">
            <img class=" image-fluid" src="../../assets/Logo-sm.png" alt="">
          </div>
          <a class="btn_user" href="#">Join the community</a>
        </div>
      </div>
      <div class="col-3 col-sm">
        <h3 class="item-title-ft">The Basics</h3>
        <ul class="nav-footer">
          <li class="nav-item-ft">
            <a class="nav-link-ft">About TMDb</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">Contact Us</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">Support Forums</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">API</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft" href="#">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-3 col-sm">
        <h3 class="item-title-ft">The Basics</h3>
        <ul class="nav-footer">
          <li class="nav-item-ft">
            <a class="nav-link-ft">About TMDb</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">Contact Us</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">Support Forums</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">API</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft" href="#">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-3 col-sm">
        <h3 class="item-title-ft">The Basics</h3>
        <ul class="nav-footer">
          <li class="nav-item-ft">
            <a class="nav-link-ft">About TMDb</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">Contact Us</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">Support Forums</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft">API</a>
          </li>
          <li class="nav-item-ft">
            <a class="nav-link-ft" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
